body {
  text-align: center;
  background-color: rgb(4, 78, 54);
  color: rgb(235, 211, 117);
  border-color: aquamarine;
  animation: fadeInUp 3s ease-out;
}
p {
  margin-left: 100px;
  margin-right: 100px;
}
a {
  color: black;
}
a:hover {
  color: rgb(123, 130, 14);
  text-decoration: underline;
  text-decoration-color: brown;
}
.button-link {
  font-size: medium;
  background-color: #76f00b; /* Dark green */
  padding: 2px 2px;
  border: 2px solid #5407ce;
  border-radius: 5px;
  display: inline-block;
}
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-75px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
